.App {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: min(90%, 70.5rem);
}

.cert-container {
  margin-left: calc((100% - min(90%, 70.5rem)) / 2);
}

.divider {
  display: block;
  margin: 100px 0;
}

.special {
  margin: 300px 0;
}

.cat {
  position: absolute;
  width: 300px;
  bottom: 0;
  right: 5%;
}

@media screen and (max-width: 768px) {
  .cat {
    width: 200px;
  }
}
